@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   
  body {
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
  }
  main {
    width: 100%;
  margin: 0 auto;
  flex: 1;
}



  /* NAVBAR */

  #leftNavbar{
    border-radius: 50px;
    border-color: aliceblue;
    color: azure;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    margin-left: 144px;
  }

  #rightNavbar{
    border-radius: 50px;
    border-color: aliceblue;
    color: azure;
    display: flex;
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    margin-right: 144px;
}

  .navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em;
    height: 75px;
    font-weight: 500;
  }

  .nav-item {
    box-sizing: border-box;
    line-height: 24px;
  }

  .nav-item a {
    padding: 0.7rem;
    display: inline-block;
    font-size: 1.3em;
    text-decoration: none;
    color: black;
    margin: 15px;
  }

  .nav-item a:hover {
    background-color: #037367;
    color: white;
    padding: 3px 7px 3px;
    border-radius: 56px;
  }

  /* HERO */

  .hero {   
    display: flex;
    flex-direction: column;
    min-height: 600px;
    width: 100%;
    text-align: center;
    background-image: url('../images/view.jpg');
    background-position: center;
    object-fit: cover;
    padding: 0 10%;
  }
  
  .hero_title {
    font-family: 'Roboto Flex', sans-serif;
    color: black;
    font-weight: 500;
    font-size: xx-large;
    position:absolute;
    align-items: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    width: 816px;
    height: 128px;
    left: 312px;
    top: 222px;
    text-align: center;
  }
  


/* ITEM */
.container {
    margin-top: -120px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container .box {
    width: 373.33px;
    height: 400px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    border-radius: 8px;
    /* untuk 3 card */
    margin-right: 40px;
    transition: all .5s; 
}


.box {
    background-image: url(https://images.unsplash.com/photo-1591003938754-945a23fc30b3?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
    width: 200px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
    border-radius: 8px;
}

.box h1 {
    font-size: 20px;
}

.box p{
    font-size: 12px;
}

.text {
    background-color: rgba(0,0,0,.6);
    opacity: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    text-align: center;
    border-radius: 8px;
    transition: all .5s;
}

.text:hover {
    opacity: 1;
}

.box:hover {
    transform: translateY(20px);
}

.two {
    background-image: url(https://images.unsplash.com/photo-1591084261819-7c967caf7d06?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.three {
    background-image: url(https://images.unsplash.com/photo-1592196684243-9e328837adcd?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
